# Laravel
backend/.env
backend/.env.*.local
backend/public/storage
backend/storage/*.key
backend/vendor
backend/bootstrap/cache/*.php
backend/storage/logs/*.log
backend/storage/framework/views/*.php
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*

# React / Vite
frontend/node_modules
frontend/.DS_Store
frontend/dist
frontend/*.local
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.eslintcache

# General
.DS_Store
Thumbs.db
*.log
.vscode
.idea
*.swp
*.swo
